/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Features
    6. Footer

*/

/* 1. ---General Styles--- */


.hidden {
    display: none;
}

#container {
    margin: 0 auto;
    width: 1920px;
    background-color: rgb(255, 255, 255);
    border-color: black;
    padding: 0 auto;
}

h1 h2 h3{
    font-family: 'Play', sans-serif;
}

p {
    font-family: 'Rajdhani', sans-serif;
}

a {
	text-decoration: none;
}

/* 2. ---Grid--- */

/* this is the exact same grid used in Adobe XD, we have recreated 
the grid using CSS. It is a class becasue we will use multiple grids */

.grid {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
}

/* 3. ---Header--- */

#header-con {
    grid-column: 1/-1;
    background-color: #E0E0E0;
}

#logo {
    grid-column: 2/4;
    margin: 10px;
}

#logo img {
    position: absolute;
    width: 265px;
    height: 90.75px;
}

#main-nav {
	grid-column: 4/10;
	padding-bottom: 0;
	margin-bottom: 0;
    margin-left: 130px;
	margin-top: 50px;
}

#main-nav ul li {
	display: inline;
	margin-right: 75px;
    padding-bottom: 10px;
	font-size: 25px;
}

#main-nav ul li a:hover {
    border-bottom: 3px solid #21305F;
    padding-bottom: 2px;
	transition: all 200ms ease-in;
}

#main-nav ul a {
    color: #21305F;
}

#social-media {
    grid-column: 11/-1;
}
#social-media img {
    display: inline;
    margin-top: 35px;
}

/* 4. ---Main Hero Image--- */

#hero-image {
    width: 1920px;
    height: 876px;
    background-color: rgb(63, 63, 63);
    grid-column: 1/-1;
}

#hero-text {
    background-color: aqua;
    grid-column: 4/9;
    justify-content: center;
}

#hero-text h2 {
    display: inline;
}


/* 5. ---Products--- */



/* 6. ---About Us--- */



/* 7. ---Brand Affiliates--- */



/* 8. ---Footer--- */

