/* 1. ---General Styles--- */

.hidden {
    display: none;
}

h1 h2 h3 {
    font-family: 'Play', sans-serif;
}

p {
    font-family: 'Rajdhani', sans-serif;
}

a {
    display: inline-block;
    padding: 0 auto;
    margin: 0 auto;
    justify-self: center;
    font-family: 'Play';
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
}

/* Index Guides */

@media screen and (min-width: 360px) {

    /* ---Header--- */

    #header-con {
        background-color: #d6f9ff;
    }

    #logo img {
        margin: 10px;
    }

    #main-nav {}

    #main-nav img {
        width: 80px;
    }

    #social-media{ display: none; }

    #main-nav nav { display: none; }

    /* ---Main Hero Image--- */

    #hero {
        margin: 0px;
        padding: 0px;
    }

    #hero-image img {
        width: fit-content;
        margin: 0px;
    }

    #hero-text {
        background-color: #fffed5;
        padding-bottom: 20px;
    }

    #hero-text h3 {
        padding-left: 25px;
        padding-right: 20px;
        margin-top: 10px;
        margin-bottom: 0px;
        font-family: Play;
        color: #d85c38;
    }

    #hero-text h2 {
        padding-left: 25px;
        padding-right: 20px;
        margin: 0;
        font-family: Play;
        font-size: 65px;
        color: #d85c38;
    }

    #hero-text p {
        padding-left: 25px;
        padding-right: 20px;
        margin: 0;
        color: #292e56;
        font-size: 20px
    }



    /* ---Products--- */

    #products {
        background-color: #fffed5;
    }

    #products h2 {
        font-size: 35px;
        font-family: play;
        color: #d85c38;
        margin-bottom: 5%;
    }

    .product-box {
        background-color: thistle;
        height: 200px;
    }

    .product-box h2 {
        margin-top: 120px;
        margin-bottom: 0px;
        color: rgb(63, 63, 63);
    }

    .button {
        background-color: #d85c38;
        justify-self: center;
        padding: 10px;
        margin: 10px;
        box-sizing: content-box;
        height: 20px
    }

    .button:hover {
        background-color: transparent;
        border-style: solid;
        border-color: #d85c38;
        transition: 0.3s;
    }

    #product-1 {
        background-color: #292e56;
        background-image: url("../img/red-drink_mobile-crop.jpg");
        background-size: cover;
    }

    #product-1 h2 {
        margin-top: 120px;
        margin-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: maroon;
        background: rgba(238, 122, 122, 0.7);
        text-align: center;
    }

    #product-2 {
        background-color: #292e56;
        background-image: url("../img/yellow-drink_mobile-crop.jpg");
        background-size: cover;
    }

    #product-2 h2 {
        margin-top: 120px;
        margin-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: teal;
        background: rgba(255, 215, 53, 0.7);
        text-align: center;
    }

    #product-3 {
        background-color: #292e56;
        background-image: url("../img/multi-drink_mobile-crop.jpg");
        background-size: cover;
    }

    #product-3 h2 {
        margin-top: 120px;
        margin-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #d85c38;
        background: rgba(255, 181, 135, 0.7);
        text-align: center;
    }



    /* ---About Us--- */

    #about-us {
        background-image: url("../img/about-us_bg.jpg");
        background-size: cover;
        background-color: #292e56;
        height: 500px;
        margin: 0;
    }

    #about-us h2 {
        font-family: play;
        color: white;
        font-size: 45px;
        margin: 20px;
    }

    #about-us p {
        font-family: rajdhani;
        color: white;
        margin: 20px;
        font-size: 20px;
    }

    #about-us h2 p {
        background: rgba(255, 181, 135, 0.7);
    }



    /* ---Brand Affiliates--- */

    #partner-brands {
        background-color: #ffe8cb;
    }

    #partner-brands h3 {
        font-family: rajdhani;
        padding: 30px;
        padding-bottom: 0px;
        font-size: 40px
    }

    #partner-brands p {
        margin: 40px;
        font-size: 20px;
    }

    #brands {
        justify-self: center;

    }

    .brand-logo {
        text-align: center;
        padding: 10%;
    }

    .brand-logo img {
        width: 200px;
    }


    /* ---Footer--- */

    #main-footer {
        background-color: #292e56;
    }

    #footer-links { display: none;}
    #footer-contact { display: none; }

    #main-footer h2 {
        color: white;
        grid-column: 1/-1;
        font-family: rajdhani;
        font-size: 40px;
        margin: 30px;
        justify-self: center;
    }

    #main-footer p {
        grid-column: 1/-1;
        color: white;
        color: white;
        grid-column: 1/-1;
        font-family: rajdhani;
        font-size: 20px;
        margin: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }

    #email {
        grid-column: 1/-1;
        margin-top: 0px;
        margin: 40px;
        border-color: white;
        color: #292e56;
        padding-top: 0px;
    }

    input,
    textarea {
        background-color: #292e56;
        color: white;
    }

    .button-2 {
        background-color: #292e56;
        border-style: solid;
        border-color: #d6f9ff;
        grid-column: 1/-1;
        justify-self: center;
        padding-left: 90px;
        padding-right: 90px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 10px;
        box-sizing: content-box;
        height: 20px
    }

    .button-2:hover {
        background-color: #d6f9ff;
        transition: 0.3s;
    }

    a:hover {
        color: #292e56;
        transition: 0.3s;
    }
}

@media screen and (min-width: 768px) {
    
    /* ---Header--- */

    #header-con {
        background-color: #d6f9ff;
    }

    #logo img {
        margin: 10px;
        width: 160px;
    }

    #social-media{ display: none; }

    #main-nav nav { display: none; }

    #main-nav img {
        width: 120px;
    }

    /* ---Main Hero Image--- */

    #hero {
        margin: 0px;
        padding: 0px;
    }

    #hero-image img {
        width: 768px;
        margin: 0px;
    }

    #hero-text {
        background-color: #fffed5;
        padding-bottom: 20px;
    }

    #hero-text h3 {
        padding-left: 25px;
        padding-right: 20px;
        margin-top: 10px;
        margin-bottom: 0px;
        font-family: Play;
        color: #d85c38;
        font-size: 50px;
    }

    #hero-text h2 {
        padding-left: 25px;
        padding-right: 20px;
        margin: 0;
        font-family: Play;
        font-size: 90px;
        color: #d85c38;
    }

    #hero-text p {
        padding-left: 25px;
        padding-right: 20px;
        margin: 0;
        color: #292e56;
        font-size: 30px;
        padding-bottom: 10%;
    }



    /* ---Products--- */

    #products {
        background-color: #fffed5;
    }

    #products h2 {
        font-size: 35px;
        font-family: play;
        color: #d85c38;
        margin-bottom: 5%;
    }

    .product-box {
        background-color: thistle;
        height: 300px;
    }

    .product-box h2 {
        margin-top: 120px;
        margin-bottom: 0px;
        color: rgb(63, 63, 63);
    }

    .button {
        background-color: #d85c38;
        border-radius: 10%;
        text-align: center;
        padding: 30px;
        margin: 30px;
        box-sizing: content-box;
        height: 20px;
        font-size: 20px;
    }

    .button:hover {
        background-color: transparent;
        border-style: solid;
        border-color: #d85c38;
        transition: 0.3s;
    }

    #product-1 {
        background-color: #292e56;
        background-image: url("../img/red-drink_mobile-crop.jpg");
        background-size: cover;
    }

    #product-1 h2 {
        margin-top: 120px;
        margin-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: maroon;
        background: rgba(238, 122, 122, 0.7);
        text-align: center;
    }

    #product-2 {
        background-color: #292e56;
        background-image: url("../img/yellow-drink_mobile-crop.jpg");
        background-size: cover;
    }

    #product-2 h2 {
        margin-top: 120px;
        margin-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: teal;
        background: rgba(255, 215, 53, 0.7);
        text-align: center;
    }

    #product-3 {
        background-color: #292e56;
        background-image: url("../img/multi-drink_mobile-crop.jpg");
        background-size: cover;
    }

    #product-3 h2 {
        margin-top: 120px;
        margin-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #d85c38;
        background: rgba(255, 181, 135, 0.7);
        text-align: center;
    }



    /* ---About Us--- */

    #about-us {
        background-image: url("../img/about-us_bg.jpg");
        background-size: cover;
        background-color: #292e56;
        height: 650px;
        margin: 0;
    }

    #about-us h2 {
        font-family: play;
        color: white;
        font-size: 60px;
        margin: 20px;
    }

    #about-us p {
        font-family: rajdhani;
        color: white;
        margin: 20px;
        font-size: 30px;
    }


    /* ---Brand Affiliates--- */

    #partner-brands {
        background-color: #ffe8cb;
    }

    #partner-brands h3 {
        font-family: rajdhani;
        padding: 30px;
        padding-bottom: 0px;
        font-size: 50px
    }

    #partner-brands p {
        margin: 40px;
        font-size: 30px;
    }

    #brands {
        justify-self: center;

    }

    .brand-logo {
        text-align: center;
        padding: 10%;
    }

    .brand-logo img {
        width: 200px;
    }


    /* ---Footer--- */

    #main-footer {
        background-color: #292e56;
    }

    #footer-links { display: none;}
    #footer-contact { display: none; }

    #main-footer h2 {
        color: white;
        font-family: rajdhani;
        font-size: 50px;
        margin: 30px;
        justify-self: center;
    }

    #main-footer p {
        grid-column: 1/-1;
        color: white;
        color: white;
        grid-column: 1/-1;
        font-family: rajdhani;
        font-size: 30px;
        margin: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }

    #email {
        grid-column: 1/-1;
        margin-top: 0px;
        margin: 40px;
        border-color: white;
        color: #292e56;
        padding-top: 0px;
        font-size: 30px;
    }

    input,
    textarea {
        background-color: #292e56;
        color: white;
    }

    .button-2 {
        background-color: #292e56;
        border-style: solid;
        border-color: #d6f9ff;
        justify-self: center;
        text-align: center;
        padding: 2%;
        padding-bottom: 3%;
        margin: 10px;
        box-sizing: content-box;
        height: 30px;
        width: 300px;
        font-size: 40px;
    }

    .button-2:hover {
        background-color: #d6f9ff;
        transition: 0.3s;
    }

    a:hover {
        color: #292e56;
        transition: 0.3s;
    }
}

@media screen and (min-width: 1200px) {
     /* ---Header--- */

     #header-con {
        background-color: #d6f9ff;
    }

    #logo img {
        margin: 10px;
        width: 160px;
    }

    #main-nav nav { display: contents;}
    #main-nav .hamburger { display: none;}

    #social-media {
        display: inline-block;
    }
    

    #main-nav {
        text-align: center;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-left: 50px;
        margin-top: 50px;
    }
    
    #main-nav ul li {
        display: inline;
        margin-right: 60px;
        padding-bottom: 10px;
        font-size: 25px;
        font-family: 'Rajdhani', Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #main-nav ul li a:hover {
        border-bottom: 3px solid #21305F;
        padding-bottom: 2px;
        transition: all 200ms ease-in;
    }
    
    #main-nav ul a {
        color: #21305F;
    }
    

    /* ---Main Hero Image--- */

    #hero {
        margin: 0px;
        padding: 0px;
        position: relative;
    }

    #hero-image {position: absolute;}

    #hero-image img {
        width: 1920px;
        margin: 0px;
    }

    #hero-text {
        background-color: rgba(254, 245, 205, 0.758);
        padding-bottom: 20px;
        z-index: 9999;
        text-align: center;
        justify-self: center;
        width: 600px;
        margin-top: 20%;
        margin-bottom: 20%;
        border-radius: 50px;
    }

    #hero-text h3 {
        padding-left: 25px;
        padding-right: 20px;
        margin-top: 10px;
        margin-bottom: 0px;
        font-family: Play;
        color: #d85c38;
        font-size: 50px;
    }

    #hero-text h2 {
        padding-left: 25px;
        padding-right: 20px;
        margin: 0;
        font-family: Play;
        font-size: 90px;
        color: #d85c38;
    }

    #hero-text p {
        padding-left: 25px;
        padding-right: 20px;
        margin: 0;
        color: #292e56;
        font-size: 30px;
        padding-bottom: 10%;
    }



    /* ---Products--- */

    #products {
        background-color: #fffed5;
        position: relative;
    }

    #products h2 {
        font-size: 35px;
        font-family: play;
        color: #d85c38;
        margin-bottom: 5%;
        text-align: center;
    }

    .product-box {
        width: 400px;
        height: 500px;
        border: 2px;
        border-style: solid;
        border-color: grey;
        border-radius: 5px;
        text-align: center;
        font-size: 24px;
        font-family: 'Play', Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 40px;
    }

    .product-box h2 {
        margin-top: 120px;
        margin-bottom: 0px;
        color: rgb(63, 63, 63);
    }

    .button {
        background-color: #d85c38;
        border-radius: 10%;
        text-align: center;
        padding: 30px;
        margin: 30px;
        box-sizing: content-box;
        height: 20px;
        font-size: 20px;
    }

    .button:hover {
        background-color: transparent;
        border-style: solid;
        border-color: #d85c38;
        transition: 0.3s;
    }

    #product-1 {
        background-color: #292e56;
        background-image: url("../img/red-drink_mobile-crop.jpg");
        background-size: cover;
    }

    #product-1 h2 {
        margin-top: 415px;
        margin-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: maroon;
        background: rgba(238, 122, 122, 0.7);
        text-align: center;
    }

    #product-2 {
        background-color: #292e56;
        background-image: url("../img/yellow-drink_mobile-crop.jpg");
        background-size: cover;
    }

    #product-2 h2 {
        margin-top: 415px;
        margin-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: teal;
        background: rgba(255, 215, 53, 0.7);
        text-align: center;
    }

    #product-3 {
        background-color: #292e56;
        background-image: url("../img/multi-drink_mobile-crop.jpg");
        background-size: cover;
    }

    #product-3 h2 {
        margin-top: 415px;
        margin-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #d85c38;
        background: rgba(255, 181, 135, 0.7);
        text-align: center;
    }
    
    #product-1 a:hover {
        border-bottom: 3px solid rgb(204, 133, 0);
        padding-bottom: 2px;
        transition: all 200ms ease-in;
    }
    
    #product-1 a {
        color: #fff;
    }
    
    #product-2 a:hover {
        border-bottom: 3px solid rgb(204, 133, 0);
        padding-bottom: 2px;
        transition: all 200ms ease-in;
    }
    
    #product-2 a {
        color: #fff;
    }
    
    #product-3 a:hover {
        border-bottom: 3px solid rgb(204, 133, 0);
        padding-bottom: 2px;
        transition: all 200ms ease-in;
    }
    
    #product-3 a {
        color: #fff;
    }

    /* ---About Us--- */

    #about-us {
        background-image: url("../img/about-us_bg.jpg");
        background-size: cover;
        background-color: #292e56;
        height: 650px;
        margin: 0;
    }

    #about-us h2 {
        font-family: play;
        color: white;
        font-size: 60px;
        margin: 20px;
    }

    #about-us p {
        font-family: rajdhani;
        color: white;
        margin: 20px;
        font-size: 30px;
    }

    #about-text {
        background-color: #6273a5;
        background-blend-mode: multiply;
        margin: 70px;
        padding: 30px;
        border-radius: 30px;
    }


    /* ---Brand Affiliates--- */

    #partner-brands {
        background-color: #ffe8cb;
    }

    #partner-brands h3 {
        font-family: rajdhani;
        padding: 30px;
        padding-bottom: 0px;
        font-size: 50px;
        margin: 70px;
    }

    #partner-brands p {
        margin: 70px;
        font-size: 30px;
    }

    #brands {
        justify-self: center;

    }

    .brand-logo {
        text-align: center;
        padding: 10%;
    }

    .brand-logo img {
        width: 200px;
    }


    /* ---Footer--- */

    #main-footer {
        background-color: #292e56;
    }

    #main-footer h2 {
        color: white;
        font-family: rajdhani;
        font-size: 50px;
        margin: 30px;
        text-align: left;
    }

    #main-footer p {
        grid-column: 1/-1;
        color: white;
        color: white;
        grid-column: 1/-1;
        font-family: rajdhani;
        font-size: 30px;
        margin: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
    }

    #email {
        margin-top: 0px;
        margin: 40px;
        border-color: white;
        color: #292e56;
        padding-top: 0px;
        font-size: 30px;
    }

    input,
    textarea {
        background-color: #292e56;
        color: white;
    }

    .button-2 {
        background-color: #292e56;
        border-style: solid;
        border-color: #d6f9ff;
        justify-self: center;
        text-align: center;
        padding: 2%;
        padding-bottom: 3%;
        box-sizing: content-box;
        height: 30px;
        width: 300px;
        font-size: 40px;
    }

    .button-2:hover {
        background-color: #d6f9ff;
        transition: 0.3s;
    }

    a:hover {
        color: #292e56;
        transition: 0.3s;
    }

    #footer-contact {
        margin-top: 50px;
        color: #D7F9FF;
        display:block;
        text-align: left;
    }
    
    #footer-contact h3 {
        font-size: 42px;
        text-align: left;
    }
    
    #footer-contact p {
        font-size: 24px;
        text-align: left;
    }
    
    #footer-links {
        margin-top: 32px;
        color: #D7F9FF;
        display: block;
        text-align: left;
    }
    
    #footer-links li {
        list-style: none;
        padding-bottom: 25px;
        font-size: 24px;
        text-align: left;
    }
    
    #footer-links a {
        color: #D7F9FF;
    }
    
    #footer-links a:hover {
        border-bottom: 3px solid #FFF;
        padding-bottom: 2px;
        transition: all 200ms ease-in;
    }
    
    #footer-links h3 {
        font-size: 42px;
    }

    #newsletter {margin: 0%; padding: 0%;}
    
}
    

/* ---Product Page Specific--- */

@media screen and (min-width: 360px) {

#product-con {
    background-color: #fffed5;
    justify-content: center;
}

#product-con h1 {
    font-size: 70px;
    font-family: play;
    color: #d85c38;
    margin: 30px;
    text-align: center;
}

.product-showcase {
    justify-content: center;
}

.product-showcase h2 {
    text-align: center;
    margin-left: 30px;
    font-family: Play;
    color: #d85c38;
    font-size: 40px;
}

.product-showcase p {
    margin: 30px;
    color: #292e56;
    font-size: 20px;
}

.product-showcase img {
    height: 300px;
    width: 768px;
    object-fit: cover;
}

}

@media screen and (min-width: 768px) {

    #product-con {
        background-color: #fffed5;
        justify-content: center;
    }
    
    #product-con h1 {
        font-size: 70px;
        font-family: play;
        color: #d85c38;
        margin: 30px;
        text-align: center;
    }
    
    .product-showcase {
        justify-content: center;
    }
    
    .product-showcase h2 {
        text-align: center;
        margin-left: 30px;
        font-family: Play;
        color: #d85c38;
        font-size: 60px;
    }
    
    .product-showcase p {
        margin: 30px;
        color: #292e56;
        font-size: 35px;
    }

    .product-showcase img {
        height: 300px;
        width: 768px;
        object-fit: cover;
    }
    
    }