/* 

    CSS Guide

    1. General Styles
    2. Grid
    3. Header
    4. Main Hero Image
    5. Features
    6. Footer

*/

/* 1. ---General Styles--- */


.hidden {
    display: none;
}

.box-color {
    color: #fff;
	background: rgba(0, 0, 0, 0.3);
	margin: 0;
}

.box-color2 {
    color: #fff;
	background: rgba(155, 40, 40, 0.7);
    height: 425px;
	margin: 0;
    border-radius: 10px;
}

.box-color3 {
    color: #fff;
	background: rgba(0, 0, 0, 0.7);
    height: 50px;
	margin: 0;
    border-radius: 10px;
}

#container {
    margin: 0 auto;
    width: 1920px;
    background-color: rgb(255, 255, 255);
    border-color: black;
    padding: 0 auto;
}

h1 h2 h3{
    font-family: 'Play', sans-serif;
}

p {
    font-family: 'Rajdhani', sans-serif;
}

a {
	text-decoration: none;
}

.title-line {
	display: none;
}

/* 2. ---Grid--- */

/* this is the exact same grid used in Adobe XD, we have recreated 
the grid using CSS. It is a class becasue we will use multiple grids */

.grid {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
}

/* 3. ---Header--- */

#header-con {
    grid-column: 1/-1;
    background-color: rgb(218, 255, 255);
}

#logo {
    grid-column: 2/4;
    margin: 10px;
}

#logo img {
    position: absolute;
    width: 265px;
    height: 90.75px;
}

#main-nav {
	grid-column: 4/11;
    text-align: center;
	padding-bottom: 0;
	margin-bottom: 0;
    margin-left: 50px;
	margin-top: 50px;
}

#main-nav ul li {
	display: inline;
	margin-right: 60px;
    padding-bottom: 10px;
	font-size: 25px;
    font-family: 'Rajdhani', Verdana, Geneva, Tahoma, sans-serif;
}

#main-nav ul li a:hover {
    border-bottom: 3px solid #21305F;
    padding-bottom: 2px;
	transition: all 200ms ease-in;
}

#main-nav ul a {
    color: #21305F;
}

#social-media {
    grid-column: 11/-1;
}
#social-media img {
    display: inline;
    margin-top: 35px;
}

/* 4. ---Main Hero Image--- */

#hero-image {
	background: url("../img/SpaceDrinks.png");
    width: 1920px;
    height: 876px;
}

#hero-text {
    height: 876px;
}

#hero-text2 {
    margin-top: 200px;
    grid-column: 6/10;
}

#hero-text2 h3 {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 32px;
    font-family: 'Play', Verdana, Geneva, Tahoma, sans-serif;
}

#hero-text2 h4 {
    margin-top: 60px;
    text-align: center;
    font-size: 80px;
    font-family: 'Play', Verdana, Geneva, Tahoma, sans-serif;
}

#hero-text2 p {
    text-align: center;
    font-size: 18px;
    font-family: 'Play', Verdana, Geneva, Tahoma, sans-serif;
}

#hero-text input[type="submit"] {
    color: white;
    background-color: darkgrey;
    border: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    grid-column: 7/9;
    height: 50px;
    font-size: 22px;
    transition: all 200ms ease-in;
}

#hero-text input[type="submit"]:hover {
    background-color: #fff;
    color: black;
    border-radius: 10px;
}

/* 5. ---Products--- */

#products {
    background-color: #FFFDCF;
    height: 780px;
    grid-column: 1/-1;
}

#products h3 {
    grid-column: 6/9;
    text-align: center;
    color: rgb(204, 133, 0);
    font-size: 42px;
    height: 38px;
    font-family: 'Play', Verdana, Geneva, Tahoma, sans-serif;
}

.product-box {
    width: 400px;
    height: 500px;
    border: 2px;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    font-family: 'Play', Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 40px;
}

#product-1 {
    grid-column: 2/4;
    margin-left: 125px;
}

#product-1 a:hover {
    border-bottom: 3px solid rgb(204, 133, 0);
    padding-bottom: 2px;
    transition: all 200ms ease-in;
}

#product-1 a {
    color: #fff;
}


#product-2 {
    grid-column: 5/7;
    margin-left: 132px;
}

#product-2 a:hover {
    border-bottom: 3px solid rgb(204, 133, 0);
    padding-bottom: 2px;
    transition: all 200ms ease-in;
}

#product-2 a {
    color: #fff;
}

#product-3 {
    grid-column: 8/11;
    margin-left: 152px;
}

#product-3 a:hover {
    border-bottom: 3px solid rgb(204, 133, 0);
    padding-bottom: 2px;
    transition: all 200ms ease-in;
}

#product-3 a {
    color: #fff;
}

#products input[type="submit"] {
    text-align: center;
    color: white;
    background-color: rgb(204, 133, 0);
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    grid-column: 6/9;
    height: 65px;
    font-size: 32px;
    font-family: 'Rajdhani', Verdana, Geneva, Tahoma, sans-serif;
    transition: all 200ms ease-in;
}

#products input[type="submit"]:hover {
    background-color: #fff;
    color: rgb(204, 133, 0);
    border-radius: 10px;
}

/* 6. ---About Us--- */

#about-us {
    height: 760px;
    background-color: #32416d;
}

#bg-image {
    margin-left: 110px;
}

#about-text {
    grid-column: 8/-1;
    margin-top: 100px;
    height: 440px;
    border-style: solid;
    border: 3px;
    border-color: grey;
    border-radius: 10px;
    background-color: rgb(218, 255, 255);
}

#about-text h4 {
    grid-column: 1/5;
    margin-left: 20px;
    font-size: 54px;
    font-family: 'Play', Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(204, 133, 0);
    height: 50px;
}

#about-text p {
    grid-column: 1/6;
    margin-left: 20px;
    font-size: 28px;
    font-family: 'Rajdhani', Verdana, Geneva, Tahoma, sans-serif;
}

#about-us input[type="submit"] {
    text-align: center;
    color: white;
    background-color: rgb(204, 133, 0);
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: grey;
    grid-column: 2/5;
    margin-top: 50px;
    height: 65px;
    font-size: 32px;
    font-family: 'Rajdhani', Verdana, Geneva, Tahoma, sans-serif;
    transition: all 200ms ease-in;
}

#about-us input[type="submit"]:hover {
    background-color: #fff;
    color: rgb(204, 133, 0);
    border-radius: 10px;
}


/* 7. ---Brand Affiliates--- */

#partner-brands {
    height: 707px;
    background-color: #FFFDCF;
}

#partner-brands h4 {
    grid-column: 2/10;
    font-size: 58px;
    font-family: 'Play', Verdana, Geneva, Tahoma, sans-serif;
}

#partner-brands p {
    grid-column: 10/12;
    padding-top: 250px;
    font-size: 36px;
}

.brands {
    display: inline;
    grid-column: 1/-1;
    margin-left: 122px;
    letter-spacing: 75px;
}


/* 8. ---Footer--- */

#main-footer {
    height: 530px;
    background-color: #202C59;
    font-family: 'Rajdhani', Verdana, Geneva, Tahoma, sans-serif;
}

#footer-contact {
    grid-column: 2/4;
    margin-top: 50px;
    color: #D7F9FF;
}

#footer-contact h3 {
    font-size: 42px;
}

#footer-contact p {
    font-size: 24px;
}

#footer-links {
    grid-column: 5/7;
    margin-top: 32px;
    color: #D7F9FF;
}

#footer-links li {
    list-style: none;
    padding-bottom: 25px;
    font-size: 24px;
}

#footer-links a {
    color: #D7F9FF;
}

#footer-links a:hover {
    border-bottom: 3px solid #FFF;
    padding-bottom: 2px;
    transition: all 200ms ease-in;
}

#footer-links h3 {
    margin-left: 38px;
    font-size: 42px;
}

#newsletter {
    grid-column: 9/-1;
    margin-top: 25px;
    color: #fff;
}

#newsletter h3 {
    margin-top: 55px;
    font-size: 56px;
}

#newsletter p {
    font-size: 24px;
}

#newsletter input {
	width: 450px;
    padding: 12px;
    border: 2px solid #d6d6d6;
    border-radius: 5px;
    background-color: #f7f7f7;
    margin-bottom: 65px;
    font: inherit;
	transition: all 200ms ease-in;
}

#newsletter input {
	font-size: 20px;
}

#newsletter input[type="submit"] {
	width: 478px;
	padding: 12px;
	background-color: #94D8FF;
	color: #202C59;
	border: none;
}

#newsletter input[type="submit"]:hover {
    background-color: #0E75B0;
    border-radius: 10px;
}

/* Shop Page */

#product-con {
    width: 1920px;
    height: 1000px;
    background-color: #ffffff;
    font-family: 'Play', Verdana, Geneva, Tahoma, sans-serif;
}

.prod-img {
    grid-column: 2/12;
    margin-left: 200px;
    padding-left: 30px;
    letter-spacing: 70px;
    align-items: center;
}

#product-con h3 {
    grid-column: 5/11;
    padding-top: 50px;
    text-align: center;
    font-size: 64px;
    color: rgb(223, 146, 5);
}

#product-1-shop {
    grid-column: 3/6;
    text-align: center;
    margin-left: 100px;
}

#product-1-shop h4 {
    font-size: 36px;
    color: red;
}

#product-1-shop p {
    font-size: 18px
}

#product-1-shop a:hover {
    border-bottom: 3px solid;
    padding-bottom: 2px;
    transition: all 200ms ease-in;
}

#product-1-shop a {
    color: red;
}

#product-2-shop {
    grid-column: 6/9;
    text-align: center;
    margin-left: 70px;
}

#product-2-shop h4 {
    font-size: 36px;
    color: rgb(170, 170, 0);
}

#product-2-shop p {
    font-size: 18px
}

#product-2-shop a:hover {
    border-bottom: 3px solid;
    padding-bottom: 2px;
    transition: all 200ms ease-in;
}

#product-2-shop a {
    color: rgb(170, 170, 0);
}

#product-3-shop {
    grid-column: 9/12;
    text-align: center;
    margin-left: 20px;
}

#product-3-shop h4 {
    font-size: 36px;
    color:rgb(204, 133, 0);
}

#product-3-shop p {
    font-size: 18px
}

#product-3-shop a:hover {
    border-bottom: 3px solid;
    padding-bottom: 2px;
    transition: all 200ms ease-in;
}

#product-3-shop a {
    color: rgb(204, 133, 0);
}
